<div id="passage+{{passageId}}">
	<section class="page-section">
		<div class="page-section-content">
			<div button config="widget.edit"></div>
			<div button config="widget.delete"></div>
			<div button config="widget.back"></div>
		</div>
	</section>
	<section class="page-section">
		<div class="page-section-content">
			<span class="passage-title">{{title}}</span>
			<span class="passage-time">{{time}}</span>
		</div>
	</section>
	<section class="page-section">
		<!-- <div dynamic config="widget.dynamic"></div> -->
		<div dynamic config="widget.dynamic"></div>
	</section>
</div>